@model IEnumerable<SharedRoleplay.Models.Story>

@{
    ViewData["Title"] = "Stories";
}

<h1>Stories</h1>

<p>
    <a asp-action="Create">Create New Story</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150.png?text=Place+holder+photo" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Genre)</p>
            <a class="btn btn-primary" href="/stories/details/@item.ID" role="button">Details</a>
            <a class="btn btn-info" href="/stories/edit/@item.ID" role="button">Edit</a>
            <a class="btn btn-danger" href="/stories/delete/@item.ID" role="button">Delete</a>
        </div>
    </div>
    <br />
}

